body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.cont-sucess {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

p {
    background-color: #4caf4fbe;

    padding: 100px; /* Aumenta a área ao redor do <p> */
    border-radius: 15px;
}

a {
    text-decoration: none;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

form {
    background-color: white;
    border: 1px solid #dddddd;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], [type="date"], select {
    width: 95%;
    padding: 10px; /* Adiciona mais preenchimento (padding) para o lado direito */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="radio"] {
    padding: 15px;
    margin-right: 5px;
    margin-bottom: 20px;
}


.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn{
    background-color: #333;
}

.btn:hover {
    background-color: #45a049;
}

.opt-vz {
    font-style: italic;
}

.btn-edt {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-exc {
    background-color: #fc0505;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-edt:hover {
    background-color: rgba(5, 90, 248, 0.39)
    
}

.btn-exc:hover {
    background-color: #fc05056b;
    
}