<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cadastro de Setor</title>
</head>
<body>
    <h1>Cadastro de Setor</h1>
    <form action="/cadastrar_setor" method="post">
        <label for="nome">Nome do Setor:</label>
        <!-- Preencher o campo do formulário com o nome do setor, se estiver disponível -->
        <input type="text" name="nome" value="{{ setor.nome if setor else '' }}" required>
        <input class="btn" type="submit" value="Cadastrar">
        <button class="btn" type="button" onclick="history.back()">Voltar</button>
    </form>
</body>
</html>
