<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Atualização de Setor</title>
</head>
<body>
    <h1>Atualizar de Setor</h1>
    <form action="/editar_setor/{{ setor.id }}" method="post">
        <input type="hidden" name="id" value="{{ setor.id }}"> <!-- Adiciona um campo oculto para enviar o ID do setor -->
        <label for="nome">Nome do Setor:</label>
        <input type="text" name="nome" value="{{ setor.nome }}" required> <!-- Preenche o campo com o nome atual do setor -->
        <input class="btn" type="submit" value="Atualizar">
        <button class="btn" type="button" onclick="history.back()">Voltar</button>
    </form>
</body>
</html>
