<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cadastro de Cargo</title>
</head>
<body>
    <h1>Cadastro de Cargo</h1>
    <form action="/cadastrar_cargo" method="post">
        <label for="nome">Nome do Cargo:</label>
        <input type="text" name="nome" required>

        <label for="id_setor">Setor:</label>
        <select name="id_setor" required>
            <option value="" class="opt-vz"></option> <!-- Opção vazia -->
            {% for setor in setores %}
            <option value="{{ setor.id }}">{{ setor.nome }}</option>
            {% endfor %}
        </select>

        <input class="btn" type="submit" value="Cadastrar">
        <button class="btn" type="button" onclick="history.back()">Voltar</button>
    </form>
    
</body>
</html>
