<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Editar Funcionário</title>
</head>
<body>
    <h1>Editar Funcionário</h1>
    <form action="/editar_funcionario/{{ funcionario.id }}" method="post">
        
        <label for="primeiro_nome">Primeiro Nome:</label>
        <input type="text" name="primeiro_nome" value="{{ funcionario.primeiro_nome }}" required>
        
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome" value="{{ funcionario.sobrenome }}" required>
        
        <label for="data_admissao">Data de Admissão:</label>
        <input type="date" name="data_admissao" value="{{ funcionario.data_admissao }}" required>
       
        <label>Status do Funcionário:</label>
        <input type="radio" name="status_funcionario" value="1" {% if funcionario.status_funcionario %}checked{% endif %} required> Ativo
        <input type="radio" name="status_funcionario" value="0" {% if not funcionario.status_funcionario %}checked{% endif %} required> Inativo
        
        <label for="id_setor">Setor:</label>
        <select name="id_setor" required>
            <option value="" class="opt-vz"></option> <!-- Opção vazia -->
            {% for setor in setores %}
            <option value="{{ setor.id }}" {% if funcionario.setor.id == setor.id %}selected{% endif %}>{{ setor.nome }}</option>
            {% endfor %}
        </select>
        
        <label for="id_cargo">Cargo:</label>
        <select name="id_cargo" required>
            <option value="" class="opt-vz"></option> <!-- Opção vazia -->
            {% for cargo in cargos %}
            <option value="{{ cargo.id }}" {% if funcionario.cargo.id == cargo.id %}selected{% endif %}>{{ cargo.nome }}</option>
            {% endfor %}
        </select>

        <input class="btn" type="submit" value="Atualizar">
        <button class="btn" type="button" onclick="history.back()">Cancelar</button>
    </form>
    
</body>
</html>
