<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Gerenciamento de Cadastros</h1>
    <a href="/cadastrar_setor"><button class="btn">Cadastrar setor</button></a>
    <a href="/cadastrar_cargo"><button class="btn">Cadastrar cargo</button></a>
    <a href="/cadastrar_funcionario"><button class="btn">Cadastrar funcionário</button></a>
    <a href="/gerenciar_cadastros"><button class="btn">Gerenciar cadastros</button></a>
</body>
</html>
